/* General Conifg */

@media only screen and (max-width: 600px) {

  .menuBar {
    font-size: 3.75vw;
  }

  .eth {
    width: 5vw;
    left: -2.25vw;
  }

  .linkedin, .reddit, .github, .discord,  .telegram, .facebook, .twitter , .bct {
    margin-left: 2vw;
    border-width: .75vw;
    width: 8.5vw;
    top: 7.5vh;
    right: 60vw;
  }

  .appbarSpacing {
  }


  .paperMenu {
    position: relative;
    width: 45vw;
    height: 75vh;
    top: 18.75vh;
    margin: 5vw;
    font-size: 5vw;
  }

  .paperButton {
    border-width: .75vw;
  }


  .pageSelect {
    width: 45vw;
    margin-left: 5vw;
    border: .75vw white solid;
  }

  .landingButton {
    right: 77.5vw;
  }

  .landingPage {
    top: -50vh;
  }

  .landingBranding {
    left: -50vw;
    top: -55vh;
  }

  .landingLogo {
    width: 200vw;
  }

  .landingTitle {
    left: 32.5vw;
    font-size: 11vw;
    top: -32.5vh;
  }

  .page1 {
    height: 137.5vh;
  }

  .h1 {
    font-size: 7.5vw;
    padding-bottom: 7.5vw;

  }

  .page1-body {
    position: relative;
    font-size: 5vw;
    left: 5vw;
    width: 82.5vw;
    top: 7.5vh;
  }

  .validatingGraphic{
    left: 2.5vw;
    top: 7.5vh;
  }

  .base1 {
    width: 72.5vw;
  }

  .lines1 {
    width: 42.5vw;
    left: 20vw;
    top: 20vh;

  }

  .pagePoint {
    padding-bottom: 2vh;
  }


  .bcc {
    width: 22.5vw;
    right: 0;
    left: 35vw;
  }

  .messages1 {
    width: 90vw;
  }

  .messages1edit {
    top: 20vh;
    left: -.5vw;
  }

  .wrong {
    font-size: 15vw;
    top: 2.675vh;
    left: 65vw;
  }

  .right {
    font-size: 15vw;
    top: 3.75vh;
  }

  .page2, .page3, .page6 , .page7, .page8, .page9, .page10 {
    height: 117.5vh;
  }

  .page4 {
    height: 150vh;
  }

  .page5 {
    height: 87.5vh;
  }

  .page6 {
    height: 162.5vh;
  }

  .page7 {
    height: 162.5vh;
  }

  .page8 {
    height: 275vh;
  }

  .page9 {
    height: 325vh;
  }

   .h2, .h3, .h4, .h5, .h6 {
     font-size: 7.5vw;
     padding-bottom: 7.5vw;
  }


  .pageBody {
    font-size: 5vw;
  }

  .world  {
    width:85vw;
    left: 7.5vw;
    top: 42.5vh;
  }

  .traits {
    font-size: 9.25vw;
    top: 40vh;
  }

  .traitPoint {
  padding-bottom: 7.5vh;
  }

  .stageOne{
    position: absolute;
    text-align: left;
    width: 67.5vw;
    top: 10vh;
  }

  .stageTwo {
    position: absolute;
    text-align: left;
    width: 67.5vw;
    top: 30vh;
  }

  .stageThree {
    width: 67.5vw;
    top: 47.5vh;
  }


  .stageFour {
    width: 67.5vw;
    top: 65vh;
  }

  .stageFive {
    width: 67.5vw;
    top: 86.75vh;
  }

  .stageText {
    left: 17.5vw;
  }


  .stageNumber {
    font-size: 7.5vw;
    width: 12.5vw;
    height: 12.5vw;
  }

  .stageIcon {
    font-size: 7.5vw;
    width: 12.5vw;
    height: 12.5vw;
  }

  .stageAlpha {
    width: 62.5vw;
    left: 17.5vw;
  }

  .stageAlt {
    width: 62.5vw;
    left: 17.5vw;
  }

  .traitOne {
    left: 0;
    top: 10vh;
  }

  .traitTwo {
    top: 25vh;
    left:0;
  }

  .traitThree {
    top: 42.5vh;
    left: 0;
  }

  .traitFour {
    top: 90vh;
    left: 0;
  }

  .traitFive {
    top: 105vh;
    left: 0;
  }

  .traitSix {
    top: 120vh;
    left: 0;
  }

  .daoGraphic {
    width: 75vw;
    left: 2.5vw;
    top: 50vh;
  }

  .desktopProduct {
    width: 87.5vw;
    left: -2.5vw;
  }

  .productTagline {
    font-size: 5vw;
    width: 75vw;
    left:5vw;
  }

  .tokenChart {
    width: 150vw;
    top: 8.75vh;
    left: -30vw;
  }

  .tokenOne {
    width: 75vw;
    font-size: 4.5vw;
  }

  .tokenTwo{
    top: 75vh;

  }

  .tokenThree{
    top: 82.5vh;

  }

  .tokenFour{
    top: 90vh;

  }

  .tokenFive {
    top: 97.5vh;
  }

  .tokenData{
    top: 100vh;
  }

  .modalToken {
    width: 67.5vw;
    top: 22.5vh;
    left: 10vw;
  }

  .resourceIcon {
    font-size: 30vw;
    width:  50vw;
    height: 50vw;
    border-width: 2.5vw;
    padding-top: 3.75vh;
  }

  .resourceText {
    width: 50vw;
    font-size: 5vw;
    top: 30vh;
    right: 0;
  }

  .resourceOne{
    top: 15vh;
  }

  .resourceTwo {
    top: 60vh;
    left: 17.5vw;
  }

  .resourceThree {
    top: 105vh;
    left: 17.5vw;
  }

  .ui.card,
  .ui.cards>.card {
    width: 75vw;
  }

  .teamBody {
    font-size: 5vw;
  }

  .cardOne {
    top: 7.5vh;
    left: 5vw;
    right: 0;

  }

  .cardTwo {
    top: 15vh;
    left: 5vw;
    right: 0;

  }

  .cardThree {
    top: 22.5vh;
    left: 5vw;
    right: 0;

  }

  .teamPhoto {
    width: 75vw;
  }

  .socialLink {
   font-size: 10vw;
   padding-right: 5vw;
  }

  .circleRoadmap {
    width: 42.5vw;
  }


  .roadmapOne {
    position: absolute;
    left: 17.5vw;
    top: 25vh;
  }

  .roadmapTwo {
    position: absolute;
    left: 17.5vw;
    top: 75vh;
  }


  .roadmapThree {
    position: absolute;
    left: 17.5vw;
    top: 125vh;
  }

  .roadmapFour {
    position: absolute;
    left: 17.5vw;
    top: 175vh;
  }

  .roadmapFive {
    position: absolute;
    left: 17.5vw;
    top: 225vh;
  }

  .roadmapSix {
    position: absolute;
    left: 17.5vw;
    top: 275vh;
  }

  .logoOne {
    width: 25vw;
    left: 11.75vw;
    top: -12.5vh;
  }

    .logoTwo {
      width: 25vw;
      left: 11.75vw;
      top: -2.5vh;
    }

    .logoTwo {
      width: 25vw;
      left: 11.75vw;
      top: -2.5vh;
    }

    .logoThree {
      font-size: 25vw;
      left: 10vw;
      top: -2.5vh;
    }

    .logoFour {
      font-size: 25vw;
      left: 11.75vw;
      top: -5vh;
    }

    .logoFive {
      font-size: 25vw;
      left: 11.75vw;
      top: -5vh;
    }

    .modalOne {
      width: 70vw;
      left: 7.5vw;
      top: 58vh;
    }

    .modalTwo {
      width: 70vw;
      left: 7.5vw;
      top: 107.5vh;
    }

    .modalThree {
      width: 70vw;
      left: 7.5vw;
      top: 157.5vh;
    }

    .modalFour {
      width: 80vw;
      left: 2.5vw;
      top: 207.5vh;
    }

    .modalFive {
      width: 50vw;
      left: 17.5vw;
      top: 257.5vh;

    }

    .modalSix {
      width: 50vw;
      left: 17.5vw;
      top: 305vh;
    }

    .lineOne {
        top: 55vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }

    .lineTwo {
        top: 105vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }


    .lineThree {
        top: 155vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }


    .lineFour {
        top: 205vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }

    .lineFive {
        top: 255vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }

    .teamOnboarding {
      font-size: 5.5vw;
      width: 82.5vw;
      padding: 5vw;
      top: 10vh;
      left: 1.75vw;
    }

    .desiredTraits {
      font-size: 5.5vw;
      width: 82.5vw;
      padding: 5vw;
      top: 150vh;
      left: 1.75vw;
      margin-bottom: 5vh;
    }

    .ethereumLogo  {
      width: 67.5vw;
      left: 10vw;
      }

      .ethereumWrapper {
        top: 75vh;
      }

}

/* iPhone X */

@media only screen and (min-height: 812px) {

    .landingBranding {
      top: -42.5vh;
    }

    .landingTitle {
      top: -26.75vh;
    }

    .tokenChart{
      top: 15vh;

    }

}
