

.aboutModal {
  position: absolute;
  padding: 5vw;
  width: 87.5vw;
  margin-top: 5vh;
  margin-left: 5vw;
  height: 350vh;
  font-size: 1.325vw;
  margin-bottom: 5vh;
}

.aboutOne, .aboutTwo, .aboutThree {
  position: relative;
  border-radius: .5vw;
  width: 100%;
  margin-top: 2.5vw;
  margin-bottom: 2.5vw;

}

.aboutHeader {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  font-size: 1.75vw;
  font-weight: bold;
}


@media only screen and (max-width: 600px){

  .aboutHeader {
    font-size: 7.5vw;
  }

  .aboutModal {
    font-size: 5vw;
    height: 412.5vh;
  }

  .aboutOne, .aboutTwo, .aboutThree {
  }

}
