

.aboutModal {
  position: absolute;
  padding: 5vw;
  width: 87.5vw;
  margin-top: 5vh;
  margin-left: 5vw;
  height: 300vh;
  font-size: 1.325vw;
  margin-bottom: 5vh;
}

.aboutOne {
  position: relative;
  width: 100%;
}

.aboutTwo {
  position: relative;
  width: 100%;
}

.aboutThree {
  position: relative;
  width: 100%;
}

.aboutHeader {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  font-size: 1.75vw;
  font-weight: bold;
}
