@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.dKDRgr {
  font-size: 14px;
}

.fUkahW a {
  color: #815aff;
  z-index: 100;
}

.fUkahW a:hover {
  color: yellow;
}

body .Button__StyledButton-sc-1o41kgk-0 {
  color: white !important;
}

.tableWrapper {
  padding: 1em 7.5em 1em 7.5em;
  font-size: 1.1vw;
}

.tableWrapper label {
  font-weight: bold;
  font-size: 1.5vw;
}

.chartWrapper {
  padding-left: 2em;
  width: 25em;
}

a {
  color: yellow;
}

.accordionComponent {
  font-size: .875em !important;
}

.accordionWrapper {
  padding: 2.5em;
}

.submissionVerification {
  float: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
}

.formCheckbox {
  margin-left: 55%;
}

.componentOne {
  width: 75%;
}

.componentTwo {
  margin-left: 2.5vw;
  width: 25%;
  margin-top: 10%;
}

.emailInput {
  display:flex;
  flex-direction:row;
  margin-left: 5vw;
}

.metricLeft {
  padding-left: 2em;
  padding-bottom: 1.25em;
}

.metricRight {
  padding-right: 3.75em;
  padding-bottom: 1.25em;
  text-align: right;
}

.traitLeftAlt {
  padding-bottom: 4em;
  padding-left: 2em;
}

.traitRightAlt {
  padding-bottom: 4em;
  padding-right: 5em;
}

.traitLeft {
  padding-top: .25em;
  padding-left: 3.75em;
  padding-bottom: 4em;
}

.traitRight {
  padding-top: .25em;
  padding-right: 6.25em;
  padding-bottom: 4em;
}

.fUkahW {
  background: rgba(256,256,256,0);
}

.homeNavigation {
  background: rgba(256,256,256,0.675);
}

html {
  font-family: apple-sf;
}

body {
  overflow: hidden;
  overflow-y: auto;
}

.etherSymbol {
  position: absolute;
  color: white;
  font-size: 2.5em;
  right: 13.75%;
  top: 93.75%;
}

.loadingModal {
  position: absolute;
  width: 100%;
  color: black;
  left: 50%;
  right: 50%;
  top: -50vh;
}

.loadingText {
  position: relative;
  right: 1.75em;
  top: 2.75em;
  font-size: 2.25em;
}

.css-1s6vx3l-control, .Content-ve26fj-1 {
  border-color: #bda8ff !important;
  border-width: .25vw !important;
}

.footerContact {
  position: relative;
  font-size: 1.25em;
  padding: .5vw;
}

.footerRights {
  position: relative;
  font-size: 1.25em;
  float: right;
  padding: .5vw;
}

.css-1s6vx3l-control:hover, .css-1s6vx3l-control select,
.Content-ve26fj-1:hover, Content-ve26fj-1 select  {
  border-color: #33ffa8 !important;
}

/*  Blanket + modal */

.styled-knyj0u-0.bkyfAV {
}

/*  Modal wrapper */

.sc-iwsKbI.lkyGMR {
  color: white !important;
}

.styledFlag-qhniyv-0.iKsZEo {
  background-color: #906eff !important;
}

/*  Modal */

.sc-dnqmqq.kgEfEJ, .sc-gzVnrw.dXVoWw, .fivwHw {
  background-color: #906eff !important;
  color: white;
}

.Button__StyledButton-sc-1o41kgk-0.eOYALB {
    color: white !important;
    border-color: orange !important;
}

.Button__StyledButton-sc-1o41kgk-0.ccKvAG {
  color: white !important;
  background-color: red;
}

.styledFlag__Description-qhniyv-7.eTzQRK, .styledFlag__Title-qhniyv-3.eLTXeZ {
  color: white !important;
}

.Label__LabelInner-sc-17towfw-1.dKDRgr {
  color: white;
}

.css-fwdu5q-IconWrapper, .css-946tds-IconWrapper, .css-2a8xou, .css-1m21x9n, .css-1xvazbk {
  color: #00d077 !important;
}

.hHWAHx, .jshSAn, .dRpQjM {
  background: #00d077!important;
}

.dRpQjM {
  background: #00d077!important;
}

.formBody {
  position: relative;
  margin-left: 20em;
  margin-right: 20em;
  padding: 5em 10em;
  height: auto;
  width: auto;
}

.formHeader {
  margin-bottom: 50px;
}

.formBody a {
  color: yellow;
}

.formBody a:hover {
  color: cyan;
}

.formBody h1, .formBody h5 {
  color: white;
  text-align: center;
}

.pageFooter {
  position: relative;
  width: 100vw !important;
  bottom: 0;
}

.pageComponent {
    position: relative;
}


.ui.card,
.ui.cards>.card {
  background-color: #815aff;
  color: white;
  width: 20vw;
}


.ui.card {
  margin-left: 7.5%;
}


@keyframes pulse {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes hover {
  from { transform: translate(0,  0px); }
  65%  { transform: translate(0, 15px); }
  to   { transform: translate(0, -0px); }
}

#root {
  position: absolute;
  width: device-width;
  z-index: 100;
  top: 100vh;
}

.traitText {
  margin-left: .75em;
}

.homepageMenu {
  position: fixed;
  z-index: 999;
  width: 100vw;
}

.menuBar {
  position: fixed;
  z-index: 250;
  width: 100vw;
  z-index: 100;
  top: 0;
}

.sideBar {
  visibility: hidden;
  position: fixed;
  z-index: 75;
}

.paperMenu {
  position: relative;
  width: 17.5vw;
  height: auto;
  top: 7.5vh;
  margin: 2.5vw;
}

.paperButton {
  position: absolute;
  height: 7.5vh !important;
  width: 100% !important;
  border: solid !important;
  border-left-width: .5em !important;
  border-right-width: .5em !important;
  border-color: #bda8ff !important;
  border-bottom-width: .25em !important;
  border-top-width: .25em !important;
  display: block;
  text-align: center;
  position: relative;
  color: white;
  font-weight: bold;
}

.paperButtonStart {
  position: absolute;
  height: 7.5vh !important;
  width: 100% !important;
  border: solid !important;
  border-left-width: .5em !important;
  border-right-width: .5em !important;
  border-color: #bda8ff !important;
  border-bottom-width: .25em !important;
  border-top-width: .5em !important;
  display: block;
  text-align: center;
  position: relative;
  color: white;
  font-weight: bold;
}

.paperButtonEnd {
  position: absolute;
  height: 7.5vh !important;
  width: 100% !important;
  border: solid !important;
  border-left-width: .5em !important;
  border-right-width: .5em !important;
  border-color: #bda8ff !important;
  border-bottom-width: .5em !important;
  border-top-width: .25em !important;
  display: block;
  text-align: center;
  position: relative;
  color: white;
  font-weight: bold;
}

.paperText {
  color: white;
  margin-left: 3.25em;
  font-size: 1.125em;
}

.paperButton:hover {
  background-color: #33ffa8;
  border-color: white;
}

.paperButtonStart:hover {
  background-color:#33ffa8;
  border-color: white;
}

.paperButtonEnd:hover {
  background-color: #33ffa8;
  border-color: white;
}

.paperIcon {
  margin-right: .5em;
}

.landingPage {
  position: absolute;
  width: 100vw;
  padding: .75em;
  top: -87.5vh;
  z-index: -100;
}

.pageSelect {
  position: relative;
  width: 20vw;
  margin-left: 2.5vw;
  border-color: #33ffa8;
  margin-right: 27.5vw;
  color: black;
}

.selectOption {
  color: black;
}

.landingButton {
  position: absolute;
  border: solid;
  border-color: #bda8ff;
  border-radius: .5vw;
  float: right;
  right: 1.875%;
}

.landingButton:hover {
  border-color: #33ffa8;
}

.eth {
  position: relative;
  float: left;
  width: 2.875vw;
  left: -.5vw;
}

.angelList:hover, .linkedin:hover, .discord:hover, .twitter:hover, .telegram:hover, .github:hover, .reddit:hover, .bct:hover, .facebook:hover {
  border-color: #33ffa8;
}

.angelList, .linkedin, .reddit, .github, .discord,  .telegram, .facebook, .twitter , .bct {
  position: relative;
  margin-left: .875vw;
  width: 2.675vw;
  border: solid;
  border-color: #bda8ff;
  display: inline-block;
  border-collapse: collapse;
  border-radius: 50%;
  padding: none;
}

.angelList {
    background-color: white;
    border-color: #bda8ff;
}

.landingBranding {
  position: absolute;
  margin: 0 auto;
  display: block;
  clear: both;
  height: 100%;
  z-index: -25;
  right: 12.5vw;
  top: -5vh;
}

.landingLogo {
  width: 35vw;
  padding: 2.5em;
}

 .landingTitle {
  text-align: center;
  position: relative;
  font-family: raleigh;
  font-size: 5vw;
  color: black;
  clear: both;
}

.navigationPage {
  position: relative;
  top: -75vh;
  margin: 0;
  padding: 0;
}

.headerText {
  position: relative;
  top: 5vh;
}

.page1 {
  height: 91.125vh;
  width: 100vw;
}

.h1 {
  padding: .75em;
  font-size: 3.75vw;
}

.pagePoint {
  font-size: 1.75vw;
  padding: .75em 2.5em;
  padding-top: 0em;
  width: 50%;
}

.codecommunal {
  font-size: 1.75vw;
  padding-left: 2em;
  padding-bottom: 2.5em;
  width: 95%;
}

.pageHeader {
  padding-left: 2em;
  padding-bottom: .25em;
  width: 95%;
}

.traitPoint {
  padding: .675em 2.25em;
  font-size: 2.75vw;
}

.validatingGraphic {
  display: inline-block;
  position: absolute;
  top: 22.5%;
  left: 55%;
}

.base {
  width: 30vw;
}

.baseWrapper {
  position: absolute;
  z-index: 1;
  left: 20%;
}

.linesWrapper {
  position: relative;
  clear: both;
  z-index: -1;
  top: 21vh;
  left: 53.75%;
}

.lines {
  width: 17.5vw;
}

.bccWrapper {
  animation: hover 2.5s ease-in-out infinite;
  position: absolute;
  z-index: 2;
  clear: both;
  top: 2.5vh;
  left: 77.5%;
}

.bcc {
  width: 10vw;
}

.messages1 {
  animation: hover 2.5s ease-in-out infinite;
  width: 32.5vw;
}

.messages1edit {
  position: absolute;
  clear: both;
  left: 20%;
  top: 22.5vh;
}

.wrong {
  animation: hover 2.5s ease-in-out infinite;
  position: relative;
  color: red;
  font-size: 5vw;
  left: 155%;
  top: -25vh;
  z-index: 10;
}

.right {
  animation: hover 2.5s ease-in-out infinite;
  position: relative;
  color: #2affaa;
  font-size: 5vw;
  left: 30%;
  top: -35vh;
  z-index: 10;
}

.world {
  display: inline-block;
  width: 42.5vw;
}

.worldWrapper {
  animation: pulse 1s infinite;
  position: absolute;
  left: 45%;
  top: 45%;
}

 .h2, .h3, .h4, .h5, .h6 {
  font-size: 3.75vw;
  padding: .75em;
}

.traits {
  font-size: 3vw;
}

.page1, .page2, .page3, .page4, .page5, .page6 , .page7, .page8, .page9, .page10, .page11 {
  height: 91.125vh;
  width: 100vw;
  padding-top: 5vw;
  margin-bottom: 5vw;
  font-size: 1.75vw;
  z-index: 0;
}

.page7 {
  font-size:
}

.formInput {
  margin-top: 3.75vh;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  color: white;
}

.formLabel {
  position: relative;
  top: -13.75vh;
}

.formHighlight {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 1.75vh;
  color: white;
}

.stageText {
  position: relative;
  width: 90%;
  left: 5vw;
}

.stageComponent {
  padding: .75em 2em;
  position: relative;
}

.resourceText {
  text-align: center;
  position: relative;
  top: 18.75vh;
  width: 20vw;
  right: 5.75vw;
  color: #815aff;
  font-weight: bold;
  font-size: 2vw;
}

.stageAlt {
  position: relative;
  width: 22.5vw;
  left: 5vw;
}

.stageAlpha {
  position: relative;
  width: 27.5vw;
  left: 5vw;
}

.stageNumber {
  position: absolute;
  color: #815aff;
  border: solid;
  border-color: #bda8ff;
  font-size: 2vw;
  width: 3.5vw;
  height: 3.5vw;
  text-align: center;
  border-radius: 50%;
  padding-top: 1vh;

}

.stageIcon {
  position: absolute;
  color: #815aff;
  border: solid;
  border-color: #bda8ff;
  font-size: 2vw;
  width: 3.5vw;
  height: 3.5vw;
  text-align: center;
  border-radius: 50%;
  padding-top: .5vh;

}

.resourceIcon {
  position: absolute;
  color: #815aff;
  border: solid;
  border-color: #bda8ff;
  border-width: .375vw;
  font-size: 5vw;
  width:  8.75vw;
  height: 8.75vw;
  text-align: center;
  border-radius: 50%;
  padding-top: 2.75vh;

}

.daoGraphic {
  position: absolute;
  width: 28.75vw;
  top: 33.5%;
  left: 36.5%;
}

.roadmapOne {
  position: absolute;
  left: 5em;
}

.roadmapTwo {
  position: relative;
  padding-right: 5.875em;
}

.roadmapThree {
  position: absolute;
  left: 82.5%;
}

.roadmapFour {
  position: absolute;
  left: 5em;
  top: 75%;
}

.roadmapFive {
  position: relative;
  top: 42.5vh;
  right: 2.95em;
}

.roadmapSix {
  position: absolute;
  left: 82.5%;
  top: 75%;
}

.logoOne {
  animation: hover 2.5s ease-in-out infinite;
  position: absolute;
  width: 3.75vw;
  left: 2.5vw;

}

.logoTwo {
  animation: hover 2.5s ease-in-out infinite;
  position: absolute;
  width: 5vw;
  left: 2.5vw;
}

.logoThree {
  animation: hover 2.5s ease-in-out infinite;
  position: absolute;
  width: 3.75vw;
  left: 2.5vw;
}

.logoFour {
  animation: hover 2.5s ease-in-out infinite;
  position: absolute;
  width: 5vw;
  left: 2.5vw;
}

.lineOne {
  position: absolute;
  border-top: 5px dotted #815aff;
  width: 22.5em;
  z-index: -1;
  left: 10%;
  top: 40%;
}

.lineTwo {
  position: absolute;
  border-top: 5px dotted #815aff;
  width: 22.5em;
  z-index: -1;
  top: 40%;
  left: 50%;
}

.lineThree {
  position: absolute;
  border-top: 5px dotted #815aff;
  transform: rotate(-15deg);
  width: 41.25em;
  z-index: -1;
  top: 67.5%;
  left: 15%;
}

.lineFour{
  position: absolute;
  border-top: 5px dotted #815aff;
  width: 22.5em;
  z-index: -1;
  left: 12.5%;
  top: 93.75%;
}


.lineFive{
  position: absolute;
  border-top: 5px dotted #815aff;
  width: 22.5em;
  top: 93.75%;
  z-index: -1;
  left: 50%;
}


.circleRoadmap {
  position: absolute;
  width: 4.5em;
  top: 7.5vh;
}

.modalOne {
  position: absolute;
  width: 10em;
  left: 3.875%;
  top: 50%;
}

.modalTwo {
  position: absolute;
  width: 10em;
  left: 41.25%;
  top: 50%;
}

.modalThree {
  position: absolute;
  width: 10em;
  left: 77.5%;
  top: 50%;
}

.modalFour {
  position: absolute;
  width: 10em;
  left: 3.875%;
  top: 57.5%;
}

.modalFive {
  position: absolute;
  width: 10em;
  left: 41.25%;
  top: 57.5%;
}

.modalSix {
  position: absolute;
  width: 10em;
  left: 77.5%;
  top: 57.5%;
}


.tokenChart {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 65vw;
  top: -6.75vh;
  left: 30%;
}

.emojiIcon {
  font-size: 2.25vw;
}

.marketStatistics {
  padding: 2em 2em;
}

.marketMetric {
  padding-bottom: 1.25em;
}

.modalToken {
  position: relative;
  max-width: 25em;
  padding-left: 10em;
  top: -.25em;
}

.metaTitle {
  position: absolute;
  background: #815aff;
  border-radius: 3.375em;
  padding: 2.375em 1.675em;
  text-align: center;
  color: white;
  width: 6.75em;
  height: 6.75em;
  top: 72.75%;
  left: 75%;
}

.metaValue {
  position: absolute;
  width: 3.75em;
  height: 3.75em;
  border-radius: 1.875em;
  background: #33ffa8;
  padding: 1.25em .5em;
  border: solid .25rem white;
  margin: .25em;
}

.cardOne {
  float: center;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  font-size: 1.25vw;
}

.ethereumLogo {
  display: inline-block;
  position: absolute;
  width: 17.5vw;
  left: 33.75vw;
}

.teamOnboarding {
  border-style: solid;
  border-width: .5vw;
  -moz-border-image: -moz-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); /* FF 3.6+ */
  -webkit-border-image: -webkit-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); /* Safari 5.1+, Chrome 10+ */
  -o-border-image: -o-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); /* Opera 11.10 */
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  font-size: 1.75vw;
  width: 17.5em;
  padding: 1em;
}

.modalLeft {
  position: absolute;
  padding: 0em .5em 0em .5em;
  display: inline-block;
  left: 5%;
  top: 25%;
}

.modalRight {
  position: absolute;
  padding: 0em .5em 0em .5em;
  display: inline-block;
  left: 62.5%;
  top: 25%;
}

.float-right {
  left: 75%;
}

.desiredTraits {
  border-style: solid;
  border-width: .5vw;
  -moz-border-image: -moz-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); /* FF 3.6+ */
  -webkit-border-image: -webkit-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); /* Safari 5.1+, Chrome 10+ */
  -o-border-image: -o-linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%); /* Opera 11.10 */
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  font-size: 1.75vw;
  width: 17.5em;
  padding: 1em;
}

.desktopProduct {
  width: 50vw;
  padding: 1em;
}

.productTagline {
  font-size: 2.25vw;
  font-style: italic;
  font-weight: bold;
  left: 20vw;
}

.resourceOne {
  position: absolute;
  left: 17.5vw;
}

.resourceTwo {
  position: absolute;
  left: 60vw;
}

.resourceThree {
  position: absolute;
  top: 50vh;
  left: 40vw;
}

.socialLink {
 font-size: 2.5vw;
 padding-right: 1vw;
}

.ethereumWrapper {
  position: relative;
  left: 3.75em;
}


/* Fullscreen */

@media only screen and (min-width: 1000px) and (min-height: 750px) {

  .pagePoint {
    padding-bottom: 2.875vh;
  }

  .cardOne {
    left: -3.75vw;
  }

  .landingBranding {
    top: -15vh;
  }

  .page1-body {
    font-size: 1.8vw;
  }

  .desktopProduct {
    width: 60vw;
  }

  .ui.card,
  .ui.cards>.card {
    background-color: #815aff;
    color: white;
    width: 22.5vw;
  }


  .teamPhoto {
    width: 22.5vw;
  }

  .ethereumWrapper {
    position: absolute;
    top: 15vh;
  }

  .tokenChart {
    top: -5vh;
  }

  .lines {
    top:20vh;
  }


}

@media only screen and (min-width: 750px) and (max-height: 600px) {


  .lines {
    top: 27.5vh;
  }


}


@media only screen and (min-width: 500px) and (max-height: 500px) {


  .lines {
    top: 27.5vh;
  }


}

@media only screen and (min-width: 1000px) and (min-height: 1800px) {


  .teamOnboarding {
    border-width: 12.5px !important;
  }

  .desiredTraits {
    border-width: 12.5px !important;
    right: -10vw;
  }

  .tweetInput {
    margin-left: 37.5vw !important;
  }

}
