/* General Conifg */

  .socialModal {
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10000;
    height: 100vh;
    width: 100vw;
    color: white;
    position: fixed;
    font-size: 10vw;
    left: 0;
    right: 0;
    top: 0;
  }

  .socialButton {
    margin-left: 2.5vw;
    border: .75vw #906eff solid;
    border-radius: .5vw;
  }

  .socialButton:hover {
    border-color: #22ffa0;
  }

  /* General config */

@media only screen and (max-width: 600px){

  .sc-hSdWYo.jAdKfy {
    padding: 20px;
  }

  .sc-hSdWYo.kROLMK {
    padding: 20px;
  }

  .teamOnboarding {
    border-width: 1vw;
  }

  .desiredTraits {
    border-width: 1vw;
  }

  .cjMOOK{
    left: 37.5px;
    font-size: 1.125em;
  }

  .sc-iwsKbI.lkyGMR  {
    font-size: 1.25em;
  }

  .Label__LabelInner-sc-17towfw-1.dKDRgr {
    font-size: 1em;
  }

  .accordionComponent {
    font-size: .875em !important;
  }

  .ui.card {
    margin-left: 0;
  }

  .formHighlight {
    font-weight: bold;
    font-style: italic;
    padding-bottom: 2.5vh;
  }


  .formLabel {
    top: -12.5vh;
  }

  .pageFooter {
    padding: 7.5vw;
    margin-top: 30vh;
  }

  .footerContact {
    position: relative;
    font-size: 3.5vw;
    height: 12.5vh;
  }

  .pageNavigation {
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;

  }

  .tableCell {
    font-size: 5vw !important;
  }

  .pageHeader {
    font-size: 10vw;
    top: -5vh;
  }

  .navigationPage {
    position: relative;
    top: -75vh;
    margin: 0 auto;

  }

  .css-1s6vx3l-control {
    border-width: .75vw !important;
    border-color: #bda8ff !important;
    font-size: 5vw;
   }

  .tokenData {
    top: 117.5vh;
    font-size: 3.25vw;
  }

  .menuBar {
    font-size: 3.75vw;
  }

  .eth {
    width: 8.75vw;
    left: -.5vw;
  }

  .angelList, .linkedin, .reddit, .github, .discord,  .telegram, .facebook, .twitter , .bct {
    margin-left: 17.5vw;
    border-width: 2vw;
    margin-bottom: 7.5vw;
    width: 25vw;
    top: 5vh;
  }

  .paperMenu {
    position: relative;
    width: 45vw;
    top: 10vh;
    margin: 5vw;
    font-size: 3.75vw;
  }

  .paperButton {
    border-width: .75vw;
    height: 10vh !important;
    border-radius: .5vw;
  }

  .paperButtonStart {
    border-width: .75vw;
    height: 10vh !important;
    border-radius: .5vw;
  }

  .paperButtonEnd {
    border-width: .75vw;
    height: 10vh !important;
    border-radius: .5vw;
  }

  .paperText {
    color: white;
    margin-left: 1.25em;
    font-size: 1.25em;
  }

  .pageSelect {
    width: 45vw;
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .landingButton {
    position: relative;
    border: .75vw #906eff solid;
    border-radius: .5vw;
    margin-left: 2.5vw;
    float: right;
    right: 0;
  }

  .landingPage {
    top: -50vh;
  }

  .landingBranding {
    left: -50vw;
    top: -55vh;
  }

  .landingLogo {
    width: 200vw;
  }

  .landingTitle {
    left: 32.5vw;
    font-size: 11vw;
    top: -32.5vh;
  }

  .page1 {
    height: 137.5vh;
  }

  .h1 {
    font-size: 7.5vw;
    padding-bottom: 7.5vw;

  }

  .page1-body {
    position: relative;
    font-size: 5vw;
    left: 5vw;
    width: 82.5vw;
    top: 7.5vh;
  }

  .validatingGraphic{
    left: 2.5vw;
    top: 7.5vh;
  }

  .base1 {
    width: 72.5vw;
  }

  .lines1 {
    width: 42.5vw;
    left: 20vw;
    top: 20vh;

  }

  .pagePoint {
    padding-bottom: 2vh;
  }


  .bcc {
    width: 22.5vw;
    right: 0;
    left: 35vw;
  }

  .messages1 {
    width: 90vw;
  }

  .messages1edit {
    top: 20vh;
    left: -.5vw;
  }

  .wrong {
    font-size: 15vw;
    top: 2.675vh;
    left: 65vw;
  }

  .right {
    font-size: 15vw;
    top: 3.75vh;
  }

  .page1 {
    height: 150vh;
  }

  .page2, .page3, .page6 , .page7, .page8, .page9, .page10 {
    height: 125vh;
  }

  .page4 {
    height: 160vh;
  }

  .page5 {
    height: 87.5vh;
  }

  .page6 {
    height: 162.5vh;
  }

  .page7 {
    height: 162.5vh;
  }

  .page8 {
    height: 275vh;
  }

  .page9 {
    height: 325vh;
  }

  .page10 {
    height: 200vh;
  }

   .h2, .h3, .h4, .h5, .h6 {
     font-size: 7.5vw;
     padding-bottom: 7.5vw;
  }


  .pageBody {
    font-size: 5vw;
  }

  .world  {
    width: 85vw;
    left: 7.5vw;
    top: 45vh;
  }

  .traits {
    font-size: 9.25vw;
    top: 40vh;
  }

  .traitPoint {
    padding-bottom: 7.5vh;
  }

  .stageOne{
    position: absolute;
    text-align: left;
    width: 67.5vw;
    top: 10vh;
  }

  .stageTwo {
    position: absolute;
    text-align: left;
    width: 67.5vw;
    top: 30vh;
  }

  .stageThree {
    width: 67.5vw;
    top: 47.5vh;
  }

  .stageFour {
    width: 67.5vw;
    top: 65vh;
  }

  .stageFive {
    width: 67.5vw;
    top: 86.75vh;
  }

  .stageText {
    left: 17.5vw;
  }

  .stageNumber {
    font-size: 7.5vw;
    width: 12.5vw;
    height: 12.5vw;
  }

  .stageIcon {
    font-size: 7.5vw;
    width: 12.5vw;
    height: 12.5vw;
  }

  .stageAlpha {
    width: 62.5vw;
    left: 17.5vw;
  }

  .stageAlt {
    width: 62.5vw;
    left: 17.5vw;
  }

  .traitOne {
    left: 0;
    top: 10vh;
  }

  .traitTwo {
    top: 25vh;
    left:0;
  }

  .traitThree {
    top: 42.5vh;
    left: 0;
  }

  .traitFour {
    top: 90vh;
    left: 0;
  }

  .traitFive {
    top: 105vh;
    left: 0;
  }

  .traitSix {
    top: 120vh;
    left: 0;
  }

  .daoGraphic {
    width: 75vw;
    left: 2.5vw;
    top: 50vh;
  }

  .desktopProduct {
    width: 87.5vw;
    left: -2.5vw;
  }

  .productTagline {
    font-size: 5vw;
    width: 75vw;
    left:5vw;
  }

  .tokenChart {
    width: 150vw;
    top: 8.75vh;
    left: -30vw;
  }

  .tokenOne {
    width: 75vw;
    font-size: 4.5vw;
  }

  .tokenTwo{
    top: 75vh;

  }

  .tokenThree{
    top: 82.5vh;

  }

  .tokenFour{
    top: 90vh;

  }

  .tokenFive {
    top: 97.5vh;
  }

  .tokenSix {
    top: 105vh;
  }

  .modalToken {
    width: 67.5vw;
    top: 22.5vh;
    left: 10vw;
  }

  .resourceIcon {
    font-size: 30vw;
    width:  50vw;
    height: 50vw;
    border-width: 2.5vw;
    padding-top: 3.75vh;
  }

  .resourceText {
    width: 50vw;
    font-size: 5vw;
    top: 30vh;
    right: 0;
  }

  .resourceOne{
    top: 15vh;
  }

  .resourceTwo {
    top: 60vh;
    left: 17.5vw;
  }

  .resourceThree {
    top: 105vh;
    left: 17.5vw;
  }

  .ui.card,
  .ui.cards>.card {
    width: 75vw;
  }

  .teamBody {
    font-size: 5vw;
  }

  .cardOne {
    top: 7.5vh;
    left: 3.75vw;
    right: 0;

  }

  .cardTwo {
    top: 15vh;
    left: 3.75vw;
    right: 0;

  }

  .cardThree {
    top: 22.5vh;
    left: 3.75vw;
    right: 0;

  }

  .teamPhoto {
    width: 75vw;
  }

  .socialLink {
   font-size: 8vw;
   padding-right: 5vw;
  }

  .circleRoadmap {
    width: 42.5vw;
  }

  .blanketComponent{
    z-index: 1;
  }


  .roadmapOne {
    position: absolute;
    left: 17.5vw;
    top: 25vh;
  }

  .roadmapTwo {
    position: absolute;
    left: 17.5vw;
    top: 75vh;
  }


  .roadmapThree {
    position: absolute;
    left: 17.5vw;
    top: 125vh;
  }

  .roadmapFour {
    position: absolute;
    left: 17.5vw;
    top: 175vh;
  }

  .roadmapFive {
    position: absolute;
    left: 17.5vw;
    top: 225vh;
  }

  .roadmapSix {
    position: absolute;
    left: 17.5vw;
    top: 275vh;
  }

  .logoOne {
    width: 25vw;
    left: 11.75vw;
    top: -12.5vh;
  }

    .logoTwo {
      width: 25vw;
      left: 11.75vw;
      top: -2.5vh;
    }

    .logoTwo {
      width: 25vw;
      left: 11.75vw;
      top: -2.5vh;
    }

    .logoThree {
      font-size: 25vw;
      left: 10vw;
      top: -2.5vh;
    }

    .logoFour {
      font-size: 25vw;
      left: 11.75vw;
      top: -5vh;
    }

    .logoFive {
      font-size: 25vw;
      left: 11.75vw;
      top: -5vh;
    }

    .modalOne {
      width: 70vw;
      left: 7.5vw;
      top: 58vh;
    }

    .modalTwo {
      width: 70vw;
      left: 7.5vw;
      top: 107.5vh;
    }

    .modalThree {
      width: 70vw;
      left: 7.5vw;
      top: 157.5vh;
    }

    .modalFour {
      width: 80vw;
      left: 2.5vw;
      top: 207.5vh;
    }

    .modalFive {
      width: 50vw;
      left: 17.5vw;
      top: 257.5vh;

    }

    .modalSix {
      width: 50vw;
      left: 17.5vw;
      top: 305vh;
    }

    .lineOne {
        top: 55vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }

    .lineTwo {
        top: 105vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }

    .lineThree {
        top: 155vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }

    .lineFour {
        top: 205vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }

    .lineFive {
        top: 255vh;
        width: 50vw;
        left: 16.75vw;
        transform: rotate(90deg);
        border-width: 3.75vw;
    }

    .teamOnboarding {
      font-size: 5.5vw;
      width: 82.5vw;
      padding: 5vw;
      top: 10vh;
      left: 1.75vw;
    }

    .desiredTraits {
      font-size: 5.5vw;
      width: 82.5vw;
      padding: 5vw;
      top: 150vh;
      left: 1.75vw;
      margin-bottom: 5vh;
    }

    .ethereumLogo  {
      width: 67.5vw;
      left: 10vw;
      }

      .ethereumWrapper {
        top: 75vh;
      }

      .formHead {
        font-size: 3vw;
      }

      .formInput {
        margin-bottom: 4vh;
      }

      .formBody {
        overflow-y:auto;
      }

}

/* iPhone5  */

@media only screen and (device-height: 568px) and (device-width: 320px) {

  .cjMOOK{
    left: 25px;
  }

  .iKsZEo {
    width: 92.5%;
  }

}

/* iPhone 6/7 */

@media only screen and (device-height: 667px) and (device-width: 375px) {

  .desiredTraits {
    top: 160vh;
  }

  .ethereumWrapper {
    top: 82.5vh;
  }

  .landingTitle {
      top: -40vh;
  }

  .landingBranding {
    top: -70vh;
  }

  .traitOne {
    left: 0;
    top: 10vh;
  }

  .traitTwo {
    top: 27.5vh;
  }

  .traitThree {
    top: 47.5vh;
    left: 0;
  }

  .traitFour {
    top: 102.5vh;
    left: 0;
  }

  .traitFive {
    top: 120vh;
    left: 0;
  }

  .traitSix {
    top: 137.5vh;
    left: 0;
  }

  .daoGraphic {
    right: 7.5vw;
    top: 53.75vh;
    left: 0;
  }

  .resourceOne{
    top: 15vh;
  }

  .resourceTwo {
    top: 75vh;
    left: 17.5vw;
  }

  .resourceThree {
    top: 130vh;
    left: 17.5vw;
  }

  .resourceText {
    width: 50vw;
    font-size: 5vw;
    top: 37.5vh;
    right: 0;
  }

  .page5 {
    height: 75vh;
  }

  .page6 {
    height: 125vh;
  }

  .page7 {
    height: 200vh;
  }

  .page8 {
    height: 325vh;
  }

  .tokenChart {
    top: 7.5vh;
  }

  .tokenTwo{
    top: 80vh;

  }

  .tokenThree{
    top: 87.5vh;

  }

  .tokenFour{
    top: 95vh;

  }

  .tokenFive {
    top: 102.5vh;
  }

  .tokenSix {
    top: 110vh;
  }


}


/* iPhone 6/7+ */

@media only screen and (device-height: 736px) and (device-width: 414px) {

  .formLabel {
    top: -10vh;
  }

}

/* iPhone X */

@media only screen and (device-height: 812px) and (device-width: 375px) {

  .css-1s6vx3l-control {
    border-width: .75vw !important;
    font-size: 5vw;
   }

    .paperMenu {
      top: 7.5vh;
    }

    .landingBranding {
      top: -45vh;
    }

    .landingTitle {
      top: -26.75vh;
    }

    .tokenChart{
      top: 15vh;

    }

    .ethereumWrapper {
      top: 60vh;
    }

    .desiredTraits {
      top: 120vh;
    }

    .formLabel {
      top: -10vh;
    }

}

/* iPad */

@media only screen and (device-width: 768px) and (device-height: 1024px) {

  .sc-hSdWYo.jAdKfy {
    padding: 42px;
  }

  .sc-hSdWYo.kROLMK {
    padding: 42px;
  }

  .teamOnboarding {
    border-width: 1.5vw;
  }

  .desiredTraits {
    border-width: 1.5vw;
  }

    .sc-iwsKbI.lkyGMR  {
      font-size: 1.5em;
    }

    .accordionComponent {
      font-size: .875em !important;
    }

    .Label__LabelInner-sc-17towfw-1.dKDRgr {
      font-size: 1em;
    }

    .iKsZEo {
      width: 75vw;
      padding: 24px;
    }

    .cjMOOK{
      font-size: 1.5em;
    }

    .formLabel {
      top: -10vh;
    }

    .iKsZEo {
      width: 75vw;
      padding: 24px;
    }

    .pageFooter {
      top: 103.75%;
      height: 20vh !important;
      padding: 5vw;
      font-size: 1.75em;
    }

    .pageHeader {
      font-size: 10vw;
      top: -5vh;
    }

    .css-1s6vx3l-control {
      border-width: .75vw !important;
    }

    .menuBar {
      font-size: 3vw;
    }

    .paperMenu {
      position: relative;
      width: 37.5vw;
      top: 10vh;
      margin: 5vw;
      font-size: 3vw;
    }

    .paperText {
      margin-left: 2.5em;

    }

    .paperButton {
      border-width: .75vw;
      border-radius: .5vw;
    }

    .paperButtonStart {
      border-width: .75vw;
      border-radius: .5vw;
    }

    .paperButtonEnd {
      border-width: .75vw;
      border-radius: .5vw;
    }

    .socialButton {
      margin-left: 2.5vw;
      border-radius: .5vw;
      border: .75vw #906eff solid;
    }

    .socialButton:hover {
      border-color: #22ffa0;

    }

    .socialModal {
      background-color: rgb(0, 0, 0, 0.75);
      z-index: 10000;
      height: 100vh;
      width: 100vw;
      color: white;
      position: fixed;
      font-size: 10vw;
      left: 0;
      right: 0;
      top: 0;
    }

    .eth {
      width: 7.5vw;
      left: -.5vw;
    }

    .linkedin, .reddit, .github, .discord,  .telegram, .facebook, .twitter , .bct {
      margin-left: 17.5vw;
      border-width: 2vw;
      margin-bottom: 5vw;
      width: 25vw;
      top: 5vh;
    }

    .pageSelect {
      position: relative;
      width: 50vw;
      margin-left: 5vw;
      margin-right: 15vw;
      font-size: 4.5vw;
      color: black;
    }

    .landingButton {
      position: relative;
      border: .75vw #906eff solid;
      border-radius: .5vw;
      margin-left: 2.5vw;
      float: right;
      right: 0;
    }

    .landingBranding {
      top: -22.5vh;
      left: -37.5vw;
    }

    .landingLogo {
      width: 175vw;
    }

    .landingTitle {
      left: 27.5vw;
      right: 0;
      font-size: 10vw;
    }

    .h1, .h2, .h3, .h4, .h5, .h6 {
      font-size: 7.5vw;
    }

    .h1 {
      width: 75vw;
    }

    .page2, .page3, .page6 , .page7, .page8, .page9, .page10 {
      height: 125vh;
    }

    .page3 {
      height: 100vh;
    }

    .page4 {
      height: 160vh;
    }

    .page5 {
      height: 87.5vh;
    }

    .page6 {
      height: 145vh;
    }

    .page7 {
      height: 200vh;
    }

    .page8 {
      height: 350vh;
    }

    .page9 {
      height: 325vh;
    }

    .page10 {
      height: 200vh;
    }

    .page1 {
      position: relative;
      height: 137.5vh;
      width: 100vw;
    }

    .page1-body {
      font-size: 3.75vw;
      left: 5vw;
      width: 80vw;
      top: 7.5vh;
    }

    .pageBody {
      font-size: 3.5vw;
    }

    .validatingGraphic {
      top: 10vh;
      left: 5vw;
    }

    .base1 {
      width: 70vw;
    }

    .lines1 {
      width: 40vw;
      left: 20vw;
      top: 22.5vh;

    }

    .pagePoint {
      padding-bottom: 2vh;
    }


    .bcc {
      width: 20vw;
      right: 0;
      left: 35vw;
    }

    .messages1 {
      width: 87.5vw;
    }

    .messages1edit {
      top: 20vh;
      left: -.5vw;
    }

    .wrong {
      font-size: 15vw;
      top: 2.675vh;
      left: 61.75vw;
    }

    .right {
      font-size: 15vw;
      top: 3.75vh;
    }

    .world  {
      width: 85vw;
      left: 7.5vw;
      top: 35vh;
    }

    .traits {
      font-size: 9.25vw;
      top: 50vh;
    }

    .traitPoint {
      padding-bottom: 7.5vh;
    }

    .stageOne{
      position: absolute;
      text-align: left;
      width: 67.5vw;
      top: 10vh;
    }

    .stageTwo {
      position: absolute;
      text-align: left;
      width: 67.5vw;
      top: 25vh;
    }

    .stageThree {
      width: 67.5vw;
      top: 40vh;
    }

    .stageFour {
      width: 67.5vw;
      top: 55vh;
    }

    .stageFive {
      width: 67.5vw;
      top: 70vh;
    }

    .stageText {
      left: 17.5vw;
    }


    .stageNumber {
      font-size: 7.5vw;
      width: 12.5vw;
      height: 12.5vw;
      border-width: .75vw;
    }

    .stageIcon {
      font-size: 7.5vw;
      width: 12.5vw;
      height: 12.5vw;
      border-width: .75vw;
      padding-top: .75vh;
    }

    .stageAlpha {
      width: 62.5vw;
      left: 17.5vw;
    }

    .stageAlt {
      width: 62.5vw;
      left: 17.5vw;
    }

    .traitOne {
      left: 0;
      top: 10vh;
    }

    .traitTwo {
      top: 25vh;
      left:0;
    }

    .traitThree {
      top: 40vh;
      left: 0;
    }

    .traitFour {
      top: 107.5vh;
      left: 0;
    }

    .traitFive {
      top: 121vh;
      left: 0;
    }

    .traitSix {
      top: 135vh;
      left: 0;
    }

    .daoGraphic {
      width: 75vw;
      left: 2.5vw;
      top: 50vh;
    }

    .desktopProduct {
      width: 87.5vw;
      left: -2.5vw;
    }

    .productTagline {
      font-size: 5vw;
      width: 75vw;
      left:5vw;
      top: 12.5vh;

    }

    .tokenChart {
      width: 150vw;
      top: 2.5vh;
      left: -30vw;
    }

    .tokenOne {
      width: 75vw;
      font-size: 4.5vw;
    }

    .tokenTwo{
      top: 90vh;
    }

    .tokenThree{
      top: 97.5vh;
    }

    .tokenFour{
      top: 105vh;
    }

    .tokenFive {
      top: 112.5vh;
    }

    .tokenSix {
      top: 120vh;
    }

    .tokenData{
      top: 100vh;
    }

    .modalToken {
      width: 67.5vw;
      top: 25vh;
      left: 10vw;
    }

    .resourceIcon {
      font-size: 30vw;
      width:  50vw;
      height: 50vw;
      border-width: 2.5vw;
      padding-top: 3.75vh;
    }

    .resourceText {
      width: 50vw;
      font-size: 5vw;
      top: 42.5vh;
      right: 0;
    }

    .resourceOne{
      top: 15vh;
    }

    .resourceTwo {
      top: 75vh;
      left: 17.5vw;
    }

    .resourceThree {
      top: 130vh;
      left: 17.5vw;
    }

    .ui.card,
    .ui.cards>.card {
      width: 75vw;
    }

    .teamBody {
      font-size: 5vw;
    }

    .cardOne {
      top: 7.5vh;
      left: .75vw;
      right: 0;

    }

    .cardTwo {
      top: 15vh;
      left: .75vw;
      right: 0;

    }

    .cardThree {
      top: 22.5vh;
      left: .75vw;
      right: 0;

    }

    .teamPhoto {
      width: 75vw;
    }

    .socialLink {
     font-size: 7.5vw;
     padding-right: 5vw;
    }

    .circleRoadmap {
      width: 42.5vw;
    }

    .blanketComponent{

      z-index: 1;
    }


    .roadmapOne {
      position: absolute;
      left: 17.5vw;
      top: 25vh;
    }

    .roadmapTwo {
      position: absolute;
      left: 17.5vw;
      top: 75vh;
    }

    .roadmapThree {
      position: absolute;
      left: 17.5vw;
      top: 125vh;
    }

    .roadmapFour {
      position: absolute;
      left: 17.5vw;
      top: 175vh;
    }

    .roadmapFive {
      position: absolute;
      left: 17.5vw;
      top: 225vh;
    }

    .roadmapSix {
      position: absolute;
      left: 17.5vw;
      top: 275vh;
    }

    .logoOne {
      width: 25vw;
      left: 11.75vw;
      top: -12.5vh;
    }

      .logoTwo {
        width: 25vw;
        left: 11.75vw;
        top: -2.5vh;
      }

      .logoTwo {
        width: 25vw;
        left: 11.75vw;
        top: -2.5vh;
      }

      .logoThree {
        font-size: 25vw;
        left: 10vw;
        top: -2.5vh;
      }

      .logoFour {
        font-size: 25vw;
        left: 11.75vw;
        top: -5vh;
      }

      .logoFive {
        font-size: 25vw;
        left: 11.75vw;
        top: -5vh;
      }

      .modalOne {
        width: 70vw;
        left: 7.5vw;
        top: 60vh;
      }

      .modalTwo {
        width: 70vw;
        left: 7.5vw;
        top: 112.5vh;
      }

      .modalThree {
        width: 70vw;
        left: 7.5vw;
        top: 160vh;
      }

      .modalFour {
        width: 80vw;
        left: 2.5vw;
        top: 210vh;
      }

      .modalFive {
        width: 50vw;
        left: 17.5vw;
        top: 260vh;

      }

      .modalSix {
        width: 50vw;
        left: 17.5vw;
        top: 310vh;
      }

      .lineOne {
          top: 50vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .lineTwo {
          top: 101.5vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .lineThree {
          top: 150vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .lineFour {
          top: 200vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .lineFive {
          top: 250vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .teamOnboarding {
        font-size: 5.5vw;
        width: 82.5vw;
        padding: 5vw;
        top: 10vh;
        left: 1.75vw;
      }

      .desiredTraits {
        font-size: 5.5vw;
        width: 82.5vw;
        padding: 5vw;
        top: 192.5vh;
        left: 1.75vw;
        margin-bottom: 5vh;
      }

      .ethereumLogo  {
        width: 67.5vw;
        left: 10vw;
        top: 22.5vh;
        }

        .ethereumWrapper {
          top: 75vh;
        }

}

@media only screen and (device-width: 1024px) and (device-height: 1366px) {

  .sc-hSdWYo.jAdKfy {
    padding: 42px;
  }

  .sc-hSdWYo.kROLMK {
    padding: 42px;
  }

  .teamOnboarding {
    border-width: 1.5vw;
  }

  .desiredTraits {
    border-width: 1.5vw;
  }

  .sc-iwsKbI.lkyGMR  {
    font-size: 1.5em;
  }

  .iKsZEo {
    width: 75vw;
    padding: 24px;
  }

  .Label__LabelInner-sc-17towfw-1.dKDRgr {
    font-size: 1em;
  }

  .cjMOOK{
    font-size: 1.5em;
  }

  .formLabel {
    top: -10vh;
  }

  .accordionComponent {
    font-size: .875em !important;
  }

      .pageFooter {
        top: 103.75%;
        height: 16.75vh !important;
        padding: 5vw;
        font-size: 1.75em;
      }


      .css-1s6vx3l-control {
        border-width: .75vw !important;
      }

      .css-1s6vx3l-control:hover {
        border-color: #22ffa0 !important;
      }

    .pageHeader {
      font-size: 10vw;
      top: -5vh;
    }


    .paperMenu {
      position: relative;
      width: 37.5vw;
      top: 10vh;
      margin: 5vw;
      font-size: 3vw;
    }

    .paperText {
      margin-left: 2.5em;

    }

  .paperButton {
     border-width: .75vw;
    }

    .paperButtonStart {
       border-width: .75vw;
    }

    .paperButtonEnd {
       border-width: .75vw;
      }

    .menuBar {
      font-size: 3vw;
    }

    .socialButton {
      margin-left: 2.5vw;
      border: .75vw #906eff solid;
      border-radius: .5vw;
    }

    .socialButton:hover {
      border-color: #22ffa0;
    }

    .socialModal {
      background-color: rgb(0, 0, 0, 0.75);
      z-index: 10000;
      height: 100vh;
      width: 100vw;
      color: white;
      position: fixed;
      font-size: 10vw;
      left: 0;
      right: 0;
      top: 0;
    }

    .eth {
      width: 7.5vw;
      left: -.5vw;
    }

    .linkedin, .reddit, .github, .discord,  .telegram, .facebook, .twitter , .bct {
      margin-left: 17.5vw;
      border-width: 2vw;
      margin-bottom: 5vw;
      width: 25vw;
      top: 5vh;
    }

    .pageSelect {
      position: relative;
      width: 50vw;
      margin-left: 5vw;
      margin-right: 15vw;
      font-size: 4.5vw;
      color: black;
    }

    .landingButton {
      position: relative;
      border: .75vw #906eff solid;
      border-radius: .5vw;
      margin-left: 2.5vw;
      float: right;
      right: 0;
    }

    .landingBranding {
      top: -22.5vh;
      left: -37.5vw;
    }

    .landingLogo {
      width: 175vw;
    }

    .landingTitle {
      left: 27.5vw;
      right: 0;
      font-size: 10vw;
    }

    .h1, .h2, .h3, .h4, .h5, .h6 {
      font-size: 7.5vw;
    }

    .h1 {
      width: 75vw;
    }

    .page2, .page3, .page6 , .page7, .page8, .page9, .page10 {
      height: 125vh;
    }

    .page3 {
      height: 100vh;
    }

    .page4 {
      height: 160vh;
    }

    .page5 {
      height: 87.5vh;
    }

    .page6 {
      height: 145vh;
    }

    .page7 {
      height: 200vh;
    }

    .page8 {
      height: 350vh;
    }

    .page9 {
      height: 325vh;
    }

    .page10 {
      height: 200vh;
    }

    .page1 {
      position: relative;
      height: 137.5vh;
      width: 100vw;
    }

    .page1-body {
      font-size: 3.75vw;
      left: 5vw;
      width: 80vw;
      top: 7.5vh;
    }

    .pageBody {
      font-size: 3.5vw;
    }

    .validatingGraphic {
      top: 10vh;
      left: 5vw;
    }

    .base1 {
      width: 70vw;
    }

    .lines1 {
      width: 40vw;
      left: 20vw;
      top: 22.5vh;

    }

    .pagePoint {
      padding-bottom: 2vh;
    }


    .bcc {
      width: 20vw;
      right: 0;
      left: 35vw;
    }

    .messages1 {
      width: 87.5vw;
    }

    .messages1edit {
      top: 20vh;
      left: -.5vw;
    }

    .wrong {
      font-size: 15vw;
      top: 2.675vh;
      left: 61.75vw;
    }

    .right {
      font-size: 15vw;
      top: 3.75vh;
    }

    .world  {
      width: 85vw;
      left: 7.5vw;
      top: 35vh;
    }

    .traits {
      font-size: 9.25vw;
      top: 50vh;
    }

    .traitPoint {
      padding-bottom: 7.5vh;
    }

    .stageOne{
      position: absolute;
      text-align: left;
      width: 67.5vw;
      top: 10vh;
    }

    .stageTwo {
      position: absolute;
      text-align: left;
      width: 67.5vw;
      top: 25vh;
    }

    .stageThree {
      width: 67.5vw;
      top: 40vh;
    }

    .stageFour {
      width: 67.5vw;
      top: 55vh;
    }

    .stageFive {
      width: 67.5vw;
      top: 70vh;
    }

    .stageText {
      left: 17.5vw;
    }


    .stageNumber {
      font-size: 7.5vw;
      width: 12.5vw;
      height: 12.5vw;
      border-width: .75vw;
    }

    .stageIcon {
      font-size: 7.5vw;
      width: 12.5vw;
      height: 12.5vw;
      border-width: .75vw;
    }

    .stageAlpha {
      width: 62.5vw;
      left: 17.5vw;
    }

    .stageAlt {
      width: 62.5vw;
      left: 17.5vw;
    }

    .traitOne {
      left: 0;
      top: 10vh;
    }

    .traitTwo {
      top: 25vh;
      left:0;
    }

    .traitThree {
      top: 40vh;
      left: 0;
    }

    .traitFour {
      top: 107.5vh;
      left: 0;
    }

    .traitFive {
      top: 121vh;
      left: 0;
    }

    .traitSix {
      top: 135vh;
      left: 0;
    }

    .daoGraphic {
      width: 75vw;
      left: 2.5vw;
      top: 50vh;
    }

    .desktopProduct {
      width: 87.5vw;
      left: -2.5vw;
    }

    .productTagline {
      font-size: 5vw;
      width: 75vw;
      left:5vw;
      top: 12.5vh;

    }

    .tokenChart {
      width: 150vw;
      top: 2.5vh;
      left: -30vw;
    }

    .tokenOne {
      width: 75vw;
      font-size: 4.5vw;
    }

    .tokenTwo{
      top: 90vh;
    }

    .tokenThree{
      top: 97.5vh;
    }

    .tokenFour{
      top: 105vh;
    }

    .tokenFive {
      top: 112.5vh;
    }

    .tokenSix {
      top: 120vh;
    }

    .tokenData{
      top: 100vh;
    }

    .modalToken {
      width: 67.5vw;
      top: 25vh;
      left: 10vw;
    }

    .resourceIcon {
      font-size: 30vw;
      width:  50vw;
      height: 50vw;
      border-width: 2.5vw;
      padding-top: 3.75vh;
    }

    .resourceText {
      width: 50vw;
      font-size: 5vw;
      top: 42.5vh;
      right: 0;
    }

    .resourceOne{
      top: 15vh;
    }

    .resourceTwo {
      top: 75vh;
      left: 17.5vw;
    }

    .resourceThree {
      top: 130vh;
      left: 17.5vw;
    }

    .ui.card,
    .ui.cards>.card {
      width: 75vw;
    }

    .teamBody {
      font-size: 5vw;
    }

    .cardOne {
      top: 7.5vh;
      left: 1.25vw;
      right: 0;

    }

    .cardTwo {
      top: 15vh;
      left: 1.25vw;
      right: 0;

    }

    .cardThree {
      top: 22.5vh;
      left: 1.25vw;
      right: 0;

    }

    .teamPhoto {
      width: 75vw;
    }

    .socialLink {
     font-size: 7.5vw;
     padding-right: 5vw;
    }

    .circleRoadmap {
      width: 42.5vw;
    }

    .blanketComponent{

      z-index: 1;
    }


    .roadmapOne {
      position: absolute;
      left: 17.5vw;
      top: 25vh;
    }

    .roadmapTwo {
      position: absolute;
      left: 17.5vw;
      top: 75vh;
    }


    .roadmapThree {
      position: absolute;
      left: 17.5vw;
      top: 125vh;
    }

    .roadmapFour {
      position: absolute;
      left: 17.5vw;
      top: 175vh;
    }

    .roadmapFive {
      position: absolute;
      left: 17.5vw;
      top: 225vh;
    }

    .roadmapSix {
      position: absolute;
      left: 17.5vw;
      top: 275vh;
    }

    .logoOne {
      width: 25vw;
      left: 11.75vw;
      top: -12.5vh;
    }

      .logoTwo {
        width: 25vw;
        left: 11.75vw;
        top: -2.5vh;
      }

      .logoTwo {
        width: 25vw;
        left: 11.75vw;
        top: -2.5vh;
      }

      .logoThree {
        font-size: 25vw;
        left: 10vw;
        top: -2.5vh;
      }

      .logoFour {
        font-size: 25vw;
        left: 11.75vw;
        top: -5vh;
      }

      .logoFive {
        font-size: 25vw;
        left: 11.75vw;
        top: -5vh;
      }

      .modalOne {
        width: 70vw;
        left: 7.5vw;
        top: 60vh;
      }

      .modalTwo {
        width: 70vw;
        left: 7.5vw;
        top: 112.5vh;
      }

      .modalThree {
        width: 70vw;
        left: 7.5vw;
        top: 160vh;
      }

      .modalFour {
        width: 80vw;
        left: 2.5vw;
        top: 210vh;
      }

      .modalFive {
        width: 50vw;
        left: 17.5vw;
        top: 260vh;

      }

      .modalSix {
        width: 50vw;
        left: 17.5vw;
        top: 310vh;
      }

      .lineOne {
          top: 50vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .lineTwo {
          top: 101.5vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .lineThree {
          top: 150vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .lineFour {
          top: 200vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .lineFive {
          top: 250vh;
          width: 50vw;
          left: 16.75vw;
          transform: rotate(90deg);
          border-width: 3.75vw;
      }

      .teamOnboarding {
        font-size: 5.5vw;
        width: 82.5vw;
        padding: 5vw;
        top: 10vh;
        left: 1.75vw;
      }

      .desiredTraits {
        font-size: 5.5vw;
        width: 82.5vw;
        padding: 5vw;
        top: 192.5vh;
        left: 1.75vw;
        margin-bottom: 5vh;
      }

      .ethereumLogo  {
        width: 67.5vw;
        left: 10vw;
        top: 22.5vh;
        }

        .ethereumWrapper {
          top: 75vh;
        }

}

/* Pixel 2*/

@media only screen and (device-width: 411px) and (device-height: 731px) {

  .formLabel{

    top: -10vh;

  }

}


/* Pixel 2 XL*/

@media only screen and (device-width: 411px) and (device-height: 823px) {

  .formLabel{

    top: -10vh;

  }

}
