.registrationTitle {
  text-align: center;
  color: #815aff;
  font-size: 4vw;
}

.web3Button {
  position: absolute;
  border: solid;
  border-color: #bda8ff;
  border-radius: .5vw;
  background-color: #815aff;
  color: white !important;
  font-size: 1.75vw !important;
  margin-left: auto;
  margin-right: auto;
  left: 45%;
  top: 7.5em;
}
