.registrationTitle {
  text-align: center;
  color: #815aff;
  font-size: 4vw;
  padding-bottom: 5vh;
}

.pendingTitle {
  text-align: center;
  color: #ffa500;
  font-size: 4vw;
  padding-bottom: 5vh;
}

.errorTitle {
  text-align: center;
  color: #ff0c25;
  font-size: 4vw;
  padding-bottom: 5vh;
}

.verifiedTitle {
  text-align: center;
  color: #00d077;
  font-size: 4.5vw;
  padding-bottom: 5vh;
}

.verificationState {
  position: relative;
  margin-top: 4vw;
  margin-bottom: 10vw;
  position: absolute;
  left: 50%;
}

.confirmationState {
  position: relative;
  margin-top: 1.75vw;
  margin-bottom: 10vw;
}

.web3Button {
  border: solid !important;
  border-color: #bda8ff !important;
  border-radius: .5vw !important;
  background-color: #815aff !important;
  color: white !important;
  font-size: 1.75vw !important;
  height: 2.375em !important;
  margin: 2.5em !important;
}

.iRCyRx {
  color: white !important;
}

.web3Button:hover {
  background-color: #5aff9c !important;
  border-color: #bdffd7 !important;
}

.modalStack {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tweetInput {
  padding-top: 16.75vh;
  margin-left: 30vw;
}

@media only screen and (max-width: 600px){
  .errorTitle {
    font-size: 7vw;
  }

}
