@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

#root {

position: absolute;
width: device-width;
z-index: 100;

}

.homepage {

  position: relative;
  width: 100%;

}

.logo {

  position: fixed;
  margin: auto;
  width: 75%;

}

.title {

  position: fixed;
  font-family: raleigh;
  color: white;

}

@media screen and (min-width: 1100px) {
  /* comes into effect for screens less than or equal to 320 pixels */
  .title {
    top: 67.5%;
    left: 31%;
    font-size: 65px;

  }

  .logo {

    top: -22.5%;
    width: 75%;
    left: 12.5%;

  }

  .discord {

      position: fixed;
      width: 42.5px;
      height: 42.5px;

  }

  .telegram, .facebook, .twitter , .bct {

    position: fixed;
    width: 37.5px;
    height: 37.5px;

  }


  .egem {
    position: fixed;
    width: 30px;
    height: 47.5px;
    left: 5%;
    top: 5%;

  }


  .bct { right: 5%; top: 50%;}

  .telegram { right: 5%; top: 60%;  }

  .discord { right: 5%; top: 70%;  }

  .twitter { right: 5%; top: 80%;  }

  .facebook { right: 5%; top: 90%;  }

}


@media screen and (min-width: 225px) and (max-width: 1075px)   {

  .title {
    top: 35%;
    font-size: 75px;
    right: 5%;

  }

  .logo {

    width: 137.5%;
    left: -15%;
    top: -21.5%;

  }

  .discord {

      position: fixed;
      width: 100px;
      height: 100px;
      right: 2.5%;


  }

  .telegram, .facebook, .twitter , .bct {

    position: fixed;
    width: 95px;
    height: 95px;
    right: 2.5%;

  }

  .egem {
    position: fixed;
    width: 62.5px;
    height: 100px;
    top: 1%;
    left: 2.5%;

  }

  .bct {  top: 40%;}

  .telegram {  top: 51.25%;  }

  .discord {  top: 62.5%;  }

  .twitter { top: 73.375%;  }

  .facebook { top: 85%;  }

}

.inpt {

  position: relative;
  left: 50px;
  width: 500px;

}


.mdl {

  position: relative;
  width: 500px;
  left: 50px;

}

.warn {

color: #ffc805;

}


.ia {

  position: relative;
  right: 50px;
  top: -35px;

}
